<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Oh! Range Orange</title>

  <style>
    #bgm-frame {
      position: fixed;
      width: 0;
      height: 0;
      border: none;
    }
  </style>
</head>
<body>
  <iframe id="bgm-frame" src="/bgm"></iframe>

  <!-- 각 페이지 내용 -->
  <%- body %>

</body>
</html>